body {
    background-color: black;
}
p,span,h1,h2,h3, li {
    color:aliceblue;
    font-family: "Montserrat", sans-serif;
}
h1{
    font-weight: 300;
    margin-top: 5px;
}
h3{
    font-weight: 100;
}
li{
    text-align: start;
}
.success{
    color:green;
    font-style: italic;
}
.error{
    color:red;
    font-style: italic;
}
.button{
    background-color:black;
    color:white;
    border-color: darkslateblue;
    border-radius: 10px;
}

.input{
    background-color:rgb(28, 24, 53);
    border-color: darkslateblue;
    color:white;
}

.updateinput{
    background-color:black;
    border: 1px solid darkslateblue;
    border-radius: 5px;
    color:white;
    font-family: "Montserrat", sans-serif;
    field-sizing: content;
}
@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
.maincard {
    width:100%;
    max-width: 1080px;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    height: auto;
    padding-bottom: 50px;
    margin:auto;
    padding: 15px;
    border-radius: 40px;
    position:relative;
    background-color: black;
    flex-grow: 1;
}
.maincard::after, .maincard::before{
    content:'';
    position:absolute;
    height:100%;
    width:100%;
    background-image: conic-gradient(from var(--angle),black 50%, darkslateblue, rgb(177, 72, 177),black);
    top:50%;
    left:50%;
    translate:-50% -50%;
    z-index: -1;
    border-radius: 40px;
    padding: 5px;
    animation: 15s spin linear infinite;
}
.maincard::after{
    filter:blur(0.5rem);
}
.maincard::before{
    filter: blur(1.5rem);
    opacity:0.5;
}
@keyframes spin{
    from{
        --angle: 0deg;
    }
    to{
        --angle:360deg;
    }
}
.grid{
    display:flex;
    justify-content: center;
    margin:auto;
    width:100%;

}
.gridrow{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:auto;
    width:100%

}
.card{
    width: 100%;
    max-width: 600px;
    margin: 10px;
    padding: 10px;
    background-color: black;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 5px darkslateblue;
    align-content: flex-start;
    text-align: start;
}